In [2]:
#importing the needed libraries.

import pandas as pd 
import numpy as np
import math
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
import re

In [3]:
df = pd.read_csv('propertypro.csv', index_col = 0)
df = df.drop_duplicates()

In [4]:
df.head()

,page,title,description,condition,rooms,address,price
0,1,Decent Room And Parlor Self Contained,FOR RENT: Letting A Beautiful room and parlor ...,NaN,1 beds\n2 baths\n2 Toilets,['Ajia New Ife Expressway '],"₦ 200,000/year"
1,1,Newly Built A Room And Parlour Selfcontain,FOR RENT: 5 Unites of Standard Room and parlor...,Newly Built,1 beds\n1 baths\n1 Toilets,['Ik Dairo Street Agodi '],"₦ 350,000/year"
2,1,Room And Parlour Self Contain In Sanyo,FOR RENT: Room and parlour self-contained at s...,NaN,1 beds\n1 baths\n Toilets,['Sanyo '],"₦ 150,000/year"
3,1,2 Bedroom Apartment,FOR RENT: Newly Built 2 Bedroom Apartment with...,NaN,2 beds\n3 baths\n3 Toilets,['Aroro Yerokun Ojoo '],"₦ 250,000/year"
4,1,3 Bedroom Apartment In Ajobo Ojoo,"FOR RENT: A modern newly renovated, painted in...",NaN,3 beds\n4 baths\n4 Toilets,['Ajobo Ojoo '],"₦ 400,000/year"

In [5]:
def remove_symbols(df, column):
    if column == 'address':
        df[column] = df[column].astype(str).apply(lambda x: re.sub(r'[^\w\s]', '', x))
    else:
        df[column] = df[column].astype(str).apply(lambda x: re.sub(r'[^\d]', '', x))

cols = ['address', 'price']
for col in cols:
    remove_symbols(df, col)

In [6]:
df.head()

,page,title,description,condition,rooms,address,price
0,1,Decent Room And Parlor Self Contained,FOR RENT: Letting A Beautiful room and parlor ...,NaN,1 beds\n2 baths\n2 Toilets,Ajia New Ife Expressway,200000
1,1,Newly Built A Room And Parlour Selfcontain,FOR RENT: 5 Unites of Standard Room and parlor...,Newly Built,1 beds\n1 baths\n1 Toilets,Ik Dairo Street Agodi,350000
2,1,Room And Parlour Self Contain In Sanyo,FOR RENT: Room and parlour self-contained at s...,NaN,1 beds\n1 baths\n Toilets,Sanyo,150000
3,1,2 Bedroom Apartment,FOR RENT: Newly Built 2 Bedroom Apartment with...,NaN,2 beds\n3 baths\n3 Toilets,Aroro Yerokun Ojoo,250000
4,1,3 Bedroom Apartment In Ajobo Ojoo,"FOR RENT: A modern newly renovated, painted in...",NaN,3 beds\n4 baths\n4 Toilets,Ajobo Ojoo,400000

In [7]:
df[['bedroom', 'bathroom','toilet']] = df["rooms"].str.split("\n", n = 2, expand = True)

cols = ['bedroom', 'bathroom','toilet']

for col in cols:
    remove_symbols(df, col)

In [8]:
df.head()

,page,title,description,condition,rooms,address,price,bedroom,bathroom,toilet
0,1,Decent Room And Parlor Self Contained,FOR RENT: Letting A Beautiful room and parlor ...,NaN,1 beds\n2 baths\n2 Toilets,Ajia New Ife Expressway,200000,1,2,2
1,1,Newly Built A Room And Parlour Selfcontain,FOR RENT: 5 Unites of Standard Room and parlor...,Newly Built,1 beds\n1 baths\n1 Toilets,Ik Dairo Street Agodi,350000,1,1,1
2,1,Room And Parlour Self Contain In Sanyo,FOR RENT: Room and parlour self-contained at s...,NaN,1 beds\n1 baths\n Toilets,Sanyo,150000,1,1,
3,1,2 Bedroom Apartment,FOR RENT: Newly Built 2 Bedroom Apartment with...,NaN,2 beds\n3 baths\n3 Toilets,Aroro Yerokun Ojoo,250000,2,3,3
4,1,3 Bedroom Apartment In Ajobo Ojoo,"FOR RENT: A modern newly renovated, painted in...",NaN,3 beds\n4 baths\n4 Toilets,Ajobo Ojoo,400000,3,4,4

In [9]:
df['condition'] = df['condition'].fillna('\n')

In [10]:
df['condition'].value_counts()

\n                                  990
Newly Built                         374
Furnished                            34
Furnished\nNewly Built               33
Serviced                             14
Serviced\nNewly Built                 8
Furnished\nServiced                   5
Furnished\nServiced\nNewly Built      3
Name: condition, dtype: int64

In [11]:
df['condition'] = df['condition'].replace({'\n':'Not_new Unfurnished Not_Serviced',
                                           'Newly Built':'Newly_Built Unfurnished Not_Serviced',
                                           'Serviced':'Not_new Unfurnished Serviced',
                                            'Furnished':'Not_new Furnished Not_Serviced',
                                            'Serviced\nNewly Built':'Newly_Built Unfurnished Serviced',
                                            'Furnished\nNewly Built':'Newly_Built Furnished Not_Serviced',
                                            'Furnished\nServiced':'Not_new Furnished Serviced'})

df['condition'] = df['condition'].replace(['Furnished\nServiced\nNewly Built',
                                          'Newly_Built Furnished Serviced'])

# split the condition column

df[['newly_built', 'furnished', 'serviced']] = df['condition'].str.split(' ', 2, expand=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_6840\107604272.py:14: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['newly_built', 'furnished', 'serviced']] = df['condition'].str.split(' ', 2, expand=True)

In [12]:
df.head()

,page,title,description,condition,rooms,address,price,bedroom,bathroom,toilet,newly_built,furnished,serviced
0,1,Decent Room And Parlor Self Contained,FOR RENT: Letting A Beautiful room and parlor ...,Not_new Unfurnished Not_Serviced,1 beds\n2 baths\n2 Toilets,Ajia New Ife Expressway,200000,1,2,2,Not_new,Unfurnished,Not_Serviced
1,1,Newly Built A Room And Parlour Selfcontain,FOR RENT: 5 Unites of Standard Room and parlor...,Newly_Built Unfurnished Not_Serviced,1 beds\n1 baths\n1 Toilets,Ik Dairo Street Agodi,350000,1,1,1,Newly_Built,Unfurnished,Not_Serviced
2,1,Room And Parlour Self Contain In Sanyo,FOR RENT: Room and parlour self-contained at s...,Not_new Unfurnished Not_Serviced,1 beds\n1 baths\n Toilets,Sanyo,150000,1,1,,Not_new,Unfurnished,Not_Serviced
3,1,2 Bedroom Apartment,FOR RENT: Newly Built 2 Bedroom Apartment with...,Not_new Unfurnished Not_Serviced,2 beds\n3 baths\n3 Toilets,Aroro Yerokun Ojoo,250000,2,3,3,Not_new,Unfurnished,Not_Serviced
4,1,3 Bedroom Apartment In Ajobo Ojoo,"FOR RENT: A modern newly renovated, painted in...",Not_new Unfurnished Not_Serviced,3 beds\n4 baths\n4 Toilets,Ajobo Ojoo,400000,3,4,4,Not_new,Unfurnished,Not_Serviced

In [13]:
df = df.drop(['page','condition', 'rooms'], axis = 1)

In [14]:
df.columns

Index(['title', 'description', 'address', 'price', 'bedroom', 'bathroom',
       'toilet', 'newly_built', 'furnished', 'serviced'],
      dtype='object')

In [15]:
df.shape

(1461, 10)

In [16]:
df['address'].nunique()

950

In [17]:
df2 = pd.read_csv('privateprop.csv', index_col = 0)

In [18]:
df2.head()

,page,title,rooms,address,price
0,1,Spacious And Nicely Finished 4 Units Of 3 Bedr...,3 \n\n\n\n 3 \n\n\n\n 4,Happy Land Estate Ajah Lagos,"₦ 1,700,000/year \n\n\n\n\n 3 \n\n\n\n 3 \n\n\..."
1,1,A Lovely 2 Bedroom Flat\n2 BEDROOM BLOCK OF FL...,2 \n\n\n\n 2 \n\n\n\n 3,Ireakari Estate Ibadan Ibadan Oyo,"₦ 600,000/year \n\n\n\n\n 2 \n\n\n\n 2 \n\n\n\..."
2,1,A Lovely 2 Bedroom Flat\n2 BEDROOM BLOCK OF FL...,2 \n\n\n\n 2 \n\n\n\n 3,"Afinyanu Area, Ologuneru Ibadan Ibadan Oyo","₦ 500,000/year \n\n\n\n\n 2 \n\n\n\n 2 \n\n\n\..."
3,1,Stunning Room Self Contain\n1 BEDROOM SELF CON...,1 \n\n\n\n 1 \n\n\n\n 1,"Powerline Area, Ologuneru Ibadan Ibadan Oyo","₦ 200,000/year \n\n\n\n\n 1 \n\n\n\n 1 \n\n\n\..."
4,1,A Lovely 3 Bedroom Flat\n3 BEDROOM BLOCK OF FL...,3 \n\n\n\n 2 \n\n\n\n 3,Isokun Area Ibadan Ibadan Oyo,"₦ 400,000/year \n\n\n\n\n 3 \n\n\n\n 2 \n\n\n\..."

In [19]:
df2['rooms'] = df2['rooms'].replace('\n', '', regex=True)
df2[['bedroom', 'bathroom','toilet']] = df2['rooms'].str.split(expand=True)

In [20]:
df2[['price', 'tenure']] = df2["price"].str.split("/", n = 1, expand = True)

df2['price'] = df2['price'].str.replace(r'₦|,', '', regex =True)

In [21]:
df2['price'] = df2['price'].replace('\n', '', regex=True)
df2['price'] = df2['price'].str.split().str[0]

In [22]:
df2 = df2.drop(['tenure','rooms','page'], axis =1)

In [23]:
df2.head()

,title,address,price,bedroom,bathroom,toilet
0,Spacious And Nicely Finished 4 Units Of 3 Bedr...,Happy Land Estate Ajah Lagos,1700000,3,3,4
1,A Lovely 2 Bedroom Flat\n2 BEDROOM BLOCK OF FL...,Ireakari Estate Ibadan Ibadan Oyo,600000,2,2,3
2,A Lovely 2 Bedroom Flat\n2 BEDROOM BLOCK OF FL...,"Afinyanu Area, Ologuneru Ibadan Ibadan Oyo",500000,2,2,3
3,Stunning Room Self Contain\n1 BEDROOM SELF CON...,"Powerline Area, Ologuneru Ibadan Ibadan Oyo",200000,1,1,1
4,A Lovely 3 Bedroom Flat\n3 BEDROOM BLOCK OF FL...,Isokun Area Ibadan Ibadan Oyo,400000,3,2,3

In [24]:
df2['address'].nunique()

1115

In [25]:
df2['newly_built'] = df2['title'].apply(lambda x: len([c for c in str(x).lower().split() if "built" in c]))
df2['furnished'] = df2['title'].apply(lambda x: len([c for c in str(x).lower().split() if "furnished" in c]))
df2['serviced'] = df2['title'].apply(lambda x: len([c for c in str(x).lower().split() if "serviced" in c]))

In [26]:
df2[['title', 'description']] = df2["title"].str.split("\n", n = 1, expand = True)

In [27]:
df2.head()

,title,address,price,bedroom,bathroom,toilet,newly_built,furnished,serviced,description
0,Spacious And Nicely Finished 4 Units Of 3 Bedr...,Happy Land Estate Ajah Lagos,1700000,3,3,4,0,0,0,3 BEDROOM BLOCK OF FLATS For Rent\n\n\n\n Happ...
1,A Lovely 2 Bedroom Flat,Ireakari Estate Ibadan Ibadan Oyo,600000,2,2,3,0,0,0,2 BEDROOM BLOCK OF FLATS FOR RENT\n\n\n\n Irea...
2,A Lovely 2 Bedroom Flat,"Afinyanu Area, Ologuneru Ibadan Ibadan Oyo",500000,2,2,3,0,0,0,2 BEDROOM BLOCK OF FLATS FOR RENT\n\n\n\n Afin...
3,Stunning Room Self Contain,"Powerline Area, Ologuneru Ibadan Ibadan Oyo",200000,1,1,1,0,0,0,1 BEDROOM SELF CONTAIN FOR RENT\n\n\n\n Powerl...
4,A Lovely 3 Bedroom Flat,Isokun Area Ibadan Ibadan Oyo,400000,3,2,3,0,0,0,3 BEDROOM BLOCK OF FLATS FOR RENT\n\n\n\n Isok...

In [28]:
df = df.reindex(columns=['title', 'address', 'price', 'bedroom', 'bathroom', 'toilet',
       'newly_built', 'furnished', 'serviced', 'description'])

In [29]:
df2.columns

Index(['title', 'address', 'price', 'bedroom', 'bathroom', 'toilet',
       'newly_built', 'furnished', 'serviced', 'description'],
      dtype='object')

In [30]:
frames = [df,df2]

df = pd.concat(frames)

In [31]:
df.head()

,title,address,price,bedroom,bathroom,toilet,newly_built,furnished,serviced,description
0,Decent Room And Parlor Self Contained,Ajia New Ife Expressway,200000,1,2,2,Not_new,Unfurnished,Not_Serviced,FOR RENT: Letting A Beautiful room and parlor ...
1,Newly Built A Room And Parlour Selfcontain,Ik Dairo Street Agodi,350000,1,1,1,Newly_Built,Unfurnished,Not_Serviced,FOR RENT: 5 Unites of Standard Room and parlor...
2,Room And Parlour Self Contain In Sanyo,Sanyo,150000,1,1,,Not_new,Unfurnished,Not_Serviced,FOR RENT: Room and parlour self-contained at s...
3,2 Bedroom Apartment,Aroro Yerokun Ojoo,250000,2,3,3,Not_new,Unfurnished,Not_Serviced,FOR RENT: Newly Built 2 Bedroom Apartment with...
4,3 Bedroom Apartment In Ajobo Ojoo,Ajobo Ojoo,400000,3,4,4,Not_new,Unfurnished,Not_Serviced,"FOR RENT: A modern newly renovated, painted in..."

In [32]:
df['address'].value_counts().head(40)

Ibadan Oyo                                        73
nan                                               70
Akala Express                                     45
Kolapo Ishola Gra Akobo                           34
Akobo                                             29
Kolapo Ishola Gra Ibadan Ibadan Oyo               27
Oluyole Estate                                    23
Happy Land Estate Ajah Lagos                      22
Kolapo Ishola Gra Ibadan Oyo                      22
Ikolaba Gra Ibadan Ibadan Oyo                     19
New Bodija Ibadan Ibadan Oyo                      19
                                                  17
Bodija                                            17
Banana Island Estate Banana Island Ikoyi Lagos    16
Bourdilon Ikoyi Lagos                             16
Akala Express Ibadan Ibadan Oyo                   15
Carlton Gate Estate Akobo                         15
Chevron Toll Gate Lekki Lagos                     14
Westend Estate Ikota Lekki Lagos                  14
Carlton Gate Estate Ibadan Ibadan Oyo             14
Old Ikoyi Ikoyi Lagos                             13
Akala Estate Akobo                                12
Ikota Gra Ikota Lekki Lagos                       12
Heritage Estate Ibadan Oyo                        11
Jericho                                           11
Heritage Estate Akala Express                     10
By Freedom Way Lekki Phase 1 Lagos                 9
Ire Akari Estate Akala Express                     9
By Chevron Toll Gate Chevron Drive Lekki Lagos     9
Akala Estate Ibadan Oyo                            9
Ring Rd                                            9
Aerodrome Gra Ibadan Ibadan Oyo                    8
Agbowo   Polytechnic University Of                 8
Challenge                                          8
New Bodija Ibadan Oyo                              7
Jericho Ibadan Ibadan Oyo                          7
Off Gbangbala Road. Ikate Elegushi Lekki Lagos     7
Bodija Ibadan Ibadan Oyo                           7
Aerodrome Gra Samonda                              7
New Bodija Bodija                                  7
Name: address, dtype: int64

In [33]:
df.shape

(3199, 10)

In [34]:
streets = ['Bodija','Agodi','Oluyole','Iyaganku','Ekotedo','Samonda','Adamasingba','Onikere','Agbowo','Orogun','Odo Ona',
'Apata' 'Aerodrome Gra','Basorun','Eleyele','Okebola','Odinjo','Jericho','Idishin','Ikolaba','Akobo','Ring',
'Academy','challenge','Oke ado','Molete','Olomi','Odo Oba','Ososadi','Inalende','Yemetu','Oje','Oke Aremo','Eleyele',
'Olorunsogo','Ojoo','Agodi','Alakia','Apete','Ariyibi','Akala express','Kolapo Ishola','Sanyo','Moniya','New Bodija','Lagos',
'Onireke Gra','Ojurin','Carlton Gate','Lagelu Estate','Iwo Rd', 'New Garage','Mokola','Apata','Ologuneru','Alalubosa','Soka',
'Heritage Estate','Akala Estate','Ire Akari','Elewuro','Oremeji','Kuola', 'Lagos']

def find_street(column):
    column = column.lower()
    for street in streets:
        if street.lower() in column:
            return street
    return 'other'


df['street'] = df['address'].apply(find_street)

In [35]:
df = df[df['street'] != 'Lagos']

In [36]:
df['street'].value_counts().head(20)

other              862
Akala express      386
Akobo              331
Oluyole            271
Bodija             169
Ologuneru          109
Jericho             93
challenge           80
Kolapo Ishola       69
Ring                56
Eleyele             43
Soka                38
Agodi               36
Ikolaba             35
Academy             34
Odo Ona             26
Ire Akari           24
New Garage          24
Ojoo                24
Heritage Estate     23
Name: street, dtype: int64

In [37]:
df[df['street'] == 'other']['address'].value_counts().head(15)

Ibadan Oyo                               73
nan                                      70
                                         17
Aerodrome Gra Ibadan Ibadan Oyo           8
Ibadan Ibadan Oyo                         5
Barika   Polytechnic University Of        4
Akala Way Ibadan Oyo                      4
Zionist Estate Ibadan Oyo                 4
Ajila Ibadan Oyo                          4
Wisdom Estate Ibadan Oyo                  3
Green Gate Area Ibadan Oyo                3
Felele Straight Ibadan Oyo                3
Kobiowu Crescent Iyanganku                3
Back Of Henry Tee Ibadan Oyo              3
Golden Gate Ibadan Oyo                    3
Name: address, dtype: int64

In [38]:
df['street'].unique()

array(['other', 'Agodi', 'Sanyo', 'Ojoo', 'Akala express', 'Oluyole',
       'Akobo', 'Moniya', 'Bodija', 'Apete', 'Jericho', 'Samonda',
       'challenge', 'Iwo Rd', 'Ologuneru', 'Lagelu Estate', 'Adamasingba',
       'Iyaganku', 'Apata', 'Alalubosa', 'Yemetu', 'Idishin', 'Ring',
       'Eleyele', 'Soka', 'Molete', 'Agbowo', 'Basorun', 'Okebola',
       'Alakia', 'Orogun', 'Odo Ona', 'Oke ado', 'New Garage', 'Academy',
       'Oremeji', 'Ikolaba', 'Olorunsogo', 'Oje', 'Kolapo Ishola',
       'Mokola', 'Carlton Gate', 'Ojurin', 'Onireke Gra',
       'Heritage Estate', 'Kuola', 'Ire Akari', 'Elewuro', 'Akala Estate'],
      dtype=object)

In [38]:
df.shape

(3039, 11)

In [39]:
df.head()

,title,address,price,bedroom,bathroom,toilet,newly_built,furnished,serviced,description,street
0,Decent Room And Parlor Self Contained,Ajia New Ife Expressway,200000,1,2,2,Not_new,Unfurnished,Not_Serviced,FOR RENT: Letting A Beautiful room and parlor ...,other
1,Newly Built A Room And Parlour Selfcontain,Ik Dairo Street Agodi,350000,1,1,1,Newly_Built,Unfurnished,Not_Serviced,FOR RENT: 5 Unites of Standard Room and parlor...,Agodi
2,Room And Parlour Self Contain In Sanyo,Sanyo,150000,1,1,,Not_new,Unfurnished,Not_Serviced,FOR RENT: Room and parlour self-contained at s...,Sanyo
3,2 Bedroom Apartment,Aroro Yerokun Ojoo,250000,2,3,3,Not_new,Unfurnished,Not_Serviced,FOR RENT: Newly Built 2 Bedroom Apartment with...,Ojoo
4,3 Bedroom Apartment In Ajobo Ojoo,Ajobo Ojoo,400000,3,4,4,Not_new,Unfurnished,Not_Serviced,"FOR RENT: A modern newly renovated, painted in...",Ojoo

In [40]:
df['serviced'].value_counts()

0               1580
Not_Serviced    1432
Serviced          27
Name: serviced, dtype: int64

In [41]:
df['newly_built'] = df['newly_built'].replace({0: 'Not_new', 1: 'Newly_Built'})
df['furnished'] = df['furnished'].replace({0: 'Unfurnished', 1: 'Furnished'})
df['serviced'] = df['serviced'].replace({0: 'Not_Serviced', 1: 'Serviced'})

In [42]:
df['serviced'].value_counts()

Not_Serviced    3012
Serviced          27
Name: serviced, dtype: int64

In [43]:
df['furnished'].value_counts()

Unfurnished    2944
Furnished        95
Name: furnished, dtype: int64

In [44]:
df['newly_built'].value_counts()

Not_new        2164
Newly_Built     875
Name: newly_built, dtype: int64

In [45]:
df.head(30)

,title,address,price,bedroom,bathroom,toilet,newly_built,furnished,serviced,description,street
0,Decent Room And Parlor Self Contained,Ajia New Ife Expressway,200000,1,2,2,Not_new,Unfurnished,Not_Serviced,FOR RENT: Letting A Beautiful room and parlor ...,other
1,Newly Built A Room And Parlour Selfcontain,Ik Dairo Street Agodi,350000,1,1,1,Newly_Built,Unfurnished,Not_Serviced,FOR RENT: 5 Unites of Standard Room and parlor...,Agodi
2,Room And Parlour Self Contain In Sanyo,Sanyo,150000,1,1,,Not_new,Unfurnished,Not_Serviced,FOR RENT: Room and parlour self-contained at s...,Sanyo
3,2 Bedroom Apartment,Aroro Yerokun Ojoo,250000,2,3,3,Not_new,Unfurnished,Not_Serviced,FOR RENT: Newly Built 2 Bedroom Apartment with...,Ojoo
4,3 Bedroom Apartment In Ajobo Ojoo,Ajobo Ojoo,400000,3,4,4,Not_new,Unfurnished,Not_Serviced,"FOR RENT: A modern newly renovated, painted in...",Ojoo
5,Spacious Shop For Rent,360 Club Area Akala Express Akala Express,1000000,,,1,Newly_Built,Unfurnished,Not_Serviced,FOR RENT: Spacious shop with personal toilet a...,Akala express
6,3 Bedroom Apartment,Close To Solam Event Center Oluyole Estate,900000,3,3,3,Not_new,Unfurnished,Not_Serviced,FOR RENT: Tastefully built 3 bedrooms apartmen...,Oluyole
7,2 Bedroom Flat,Kolapo Ishola Gra Akobo,700000,2,2,2,Not_new,Unfurnished,Not_Serviced,FOR RENT: This property is a nice 2-bedroom ap...,Akobo
8,Room And Parlor,Airforce Estate Bashorun Housing Akobo,1000000,1,1,2,Newly_Built,Unfurnished,Not_Serviced,FOR RENT: This property is a newly built 1-bed...,Akobo
9,2 Bedroom Flat,Aiyegoro Akobo Directly Opposite Calton Gate ...,650000,2,2,3,Not_new,Unfurnished,Not_Serviced,FOR RENT: A newly built and tastefully finishe...,Akobo
10,2 Bedroom Flat,Aiyegoro Akobo Opposite Carlton Gate Akobo,650000,2,2,3,Newly_Built,Unfurnished,Not_Serviced,FOR RENT: 2bedroom opposite carlton gate estat...,Akobo
11,Warehouse,Moniya,600000,0,0,0,Not_new,Unfurnished,Not_Serviced,FOR RENT: 200sqm hall for supermarket & pharma...,Moniya
12,3 Bedroom Flat,At Agbowo Area Close To Bodija Express Bodija,600000,3,3,3,Not_new,Unfurnished,Not_Serviced,FOR RENT: 3 bedroom for rent at agbowo area cl...,Bodija
13,Room Self Contain,At Yidi Apete,100000,0,0,0,Not_new,Unfurnished,Not_Serviced,FOR RENT: A room selfcon for rent at yidi apet...,Apete
14,2 Bedroom Flat,Kolapo Ishola Gra Akobo,1500000,2,2,3,Not_new,Unfurnished,Not_Serviced,FOR RENT: This property is a clean 2-bedroom a...,Akobo
15,NaN,nan,,,,,Not_new,Unfurnished,Not_Serviced,NaN,other
16,4 Bedroom Semi Detached Duplex,Jericho,4000000,4,4,5,Newly_Built,Unfurnished,Not_Serviced,FOR RENT: This property is a newly built semi-...,Jericho
17,2 Bedroom Flat,Bodija,2000000,2,2,3,Newly_Built,Unfurnished,Not_Serviced,FOR RENT: This property is a newly built 2-bed...,Bodija
18,Room And Parlor,New Bodija Bodija,600000,1,1,2,Not_new,Unfurnished,Not_Serviced,FOR RENT: This is a very clean room and parlor...,Bodija
19,4 Bedroom Duplex,Kolapo Ishola Gra Akobo,2000000,4,4,5,Not_new,Unfurnished,Not_Serviced,FOR RENT: A 4-bedroom House for rent Kolapo Is...,Akobo
20,2 Bedroom Flat,Airforce Estate Bashorun Housing Akobo,900000,0,0,0,Newly_Built,Unfurnished,Not_Serviced,FOR RENT: This property is a nice 2-bedroom at...,Akobo
21,3 Bedroom Flat,Jericho Gra Jericho Main Jericho,1300000,3,3,4,Not_new,Unfurnished,Not_Serviced,FOR RENT: This property is a clean 3-bedroom f...,Jericho
22,4 Bedroom Duplex,Aerodrome Gra Samonda,3000000,4,4,6,Not_new,Unfurnished,Not_Serviced,FOR RENT: This property is a nice 4-bedroom du...,Samonda
23,3 Bedroom Flat,Jericho,3000000,3,3,4,Newly_Built,Unfurnished,Not_Serviced,FOR RENT: This property is a newly built 3-bed...,Jericho
24,4 Bedroom Terrace Duplex,Alpha Grace Estate Jericho Extension,2000000,4,4,5,Not_new,Unfurnished,Not_Serviced,FOR RENT: This property is a nice and spacious...,Jericho
25,Room And Parlor,Airforce Estate Bashorun Housing Akobo,650000,1,1,2,Newly_Built,Unfurnished,Not_Serviced,FOR RENT: This property is a new room and parl...,Akobo
26,3 Bedroom Duplex,Bodija,2500000,3,3,4,Newly_Built,Unfurnished,Not_Serviced,FOR RENT: This property is a newly built 3-bed...,Bodija
27,3 Bedroom Flat,Engr Adeleke Street Okebadan Estate Akala Way ...,1000000,3,3,4,Newly_Built,Unfurnished,Not_Serviced,FOR RENT: This property is a newly built 3-bed...,Akobo
28,3 Bedroom Flat,Kolapo Ishola Gra Akobo,1500000,3,3,4,Not_new,Unfurnished,Not_Serviced,FOR RENT: This is a decent 3-bedroom flat at K...,Akobo
29,4 Bedroom Duplex,Ikolaba Gra Bodija,3500000,4,4,5,Newly_Built,Unfurnished,Not_Serviced,FOR RENT: This property is a newly built 4-bed...,Bodija

In [46]:
#create new features by extracting important keywords from the title column

df['room_parlor'] = df['title'].apply(lambda x: len([c for c in str(x).lower().split() if "parlor" in c]))
df['semi_detached'] = df['description'].apply(lambda x: len([c for c in str(x).lower().split() if "semi" in c]))
df['luxury'] = df['title'].apply(lambda x: len([c for c in str(x).lower().split() if "luxury" in c]))
df['pop'] = df['title'].apply(lambda x: len([c for c in str(x).lower().split() if "pop" 
                              ""                                    in c]))
df['water_heater'] = df['title'].apply(lambda x: len([c for c in str(x).lower().split() if "waterheater" 
                              ""                                    in c]))
df['wardrobe'] = df['title'].apply(lambda x: len([c for c in str(x).lower().split() if "wardrobe" 
                              ""                                    in c]))
df['teraced'] = df['title'].apply(lambda x: len([c for c in str(x).lower().split()
                                                              if "terraced" in c]))
df['proximity'] = df['title'].apply(lambda x: len([c for c in str(x).lower().split()
                                                              if "road" in c]))
df['flat'] = df['title'].apply(lambda x: len([c for c in str(x).lower().split()
                                                                           if "flat" in c]))
df['duplex'] = df['title'].apply(lambda x: len([c for c in str(x).lower().split()
                                                                           if "duplex" in c]))
df['estate'] = df['title'].apply(lambda x: len([c for c in str(x).lower().split() if "estate" in c]))
df['self_contain'] = df['title'].apply(lambda x: len([c for c in str(x).lower().split() if "self" in c]))
df['detached'] = df['title'].apply(lambda x: len([c for c in str(x).lower().split() if "detached" in c]))
df['bungalow'] = df['title'].apply(lambda x: len([c for c in str(x).lower().split() if "bungalow" in c]))

In [47]:
#df = df.drop(['title','address','description'], axis = 1)

In [48]:
df = df.dropna()
df.reset_index(drop = True)

,title,address,price,bedroom,bathroom,toilet,newly_built,furnished,serviced,description,...,water_heater,wardrobe,teraced,proximity,flat,duplex,estate,self_contain,detached,bungalow
0,Decent Room And Parlor Self Contained,Ajia New Ife Expressway,200000,1,2,2,Not_new,Unfurnished,Not_Serviced,FOR RENT: Letting A Beautiful room and parlor ...,...,0,0,0,0,0,0,0,1,0,0
1,Newly Built A Room And Parlour Selfcontain,Ik Dairo Street Agodi,350000,1,1,1,Newly_Built,Unfurnished,Not_Serviced,FOR RENT: 5 Unites of Standard Room and parlor...,...,0,0,0,0,0,0,0,1,0,0
2,Room And Parlour Self Contain In Sanyo,Sanyo,150000,1,1,,Not_new,Unfurnished,Not_Serviced,FOR RENT: Room and parlour self-contained at s...,...,0,0,0,0,0,0,0,1,0,0
3,2 Bedroom Apartment,Aroro Yerokun Ojoo,250000,2,3,3,Not_new,Unfurnished,Not_Serviced,FOR RENT: Newly Built 2 Bedroom Apartment with...,...,0,0,0,0,0,0,0,0,0,0
4,3 Bedroom Apartment In Ajobo Ojoo,Ajobo Ojoo,400000,3,4,4,Not_new,Unfurnished,Not_Serviced,"FOR RENT: A modern newly renovated, painted in...",...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2917,Tastefully Finished 3 Bedroom Bungalow,"Beside A3 Hotels, Off Iwo Road/ojoo Express Ib...",700000,3,4,4,Not_new,Unfurnished,Not_Serviced,3 BEDROOM HOUSE FOR RENT\n\n\n\n Beside A3 Hot...,...,0,0,0,0,0,0,0,0,0,1
2918,A Decent 4 Bedroom Duplex House,Akala Estate Ibadan Oyo,1200000,4,4,5,Not_new,Unfurnished,Not_Serviced,4 BEDROOM HOUSE FOR RENT\n\n\n\n Akala Estate ...,...,0,0,0,0,0,1,0,0,0,0
2919,4 Bedroom Duplex,"Bashorun Housing Estate, Opposite Kolapo Ishol...",1500000,4,4,5,Not_new,Unfurnished,Not_Serviced,4 BEDROOM HOUSE FOR RENT\n\n\n\n Bashorun Hous...,...,0,0,0,0,0,1,0,0,0,0
2920,A Furnished Room And Palour Self Contain At Ae...,Aerodrome Gra Samonda Ibadan Ibadan Ibadan Oyo,700000,1,1,2,Not_new,Furnished,Not_Serviced,1 BEDROOM MINI FLAT FOR RENT\n\n\n\n Aerodrome...,...,0,0,0,0,0,0,0,1,0,0
2921,3 Bedroom Flat,Ajila Estate Ibadan Oyo,500000,3,4,4,Not_new,Unfurnished,Not_Serviced,3 BEDROOM HOUSE FOR RENT\n\n\n\n Ajila Estate ...,...,0,0,0,0,1,0,0,0,0,0

In [50]:
df.to_csv('cleaned_prop.csv')